openapi: 3.0.0

info:
  version: "1.0.0"
  title: "Wrottit API"
  description: "Web Resources Specification (A7) for Wrottit"

servers:
  - url: http://lbaw2264.lbaw.fe.up.pt
    description: Production server

externalDocs:
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2264/-/wikis
  description: Wrottit documentation

tags:
  - name: "M02: System Administration"

paths:

  /:
    get:
      operationId: "R201"
      summary: "R101: View Homepage"
      description: "View feed of most popular or recent posts. Access: PUB"
      tags:
        - "" # FIXME content module
      
      parameters:
        - in: query
          name: sort
          description: "Posts ordering"
          schema:
            enum:
              - popular
              - recent

      responses:
        200:
          description: "Ok. Show Homepage UI01"

  # M02 - System Administration
  /admin:
    get:
      operationId: "R201"
      summary: "R201: View Administration Panel"
      description: "View administration panel. Access: ADM"
      tags:
        - "M02 - System Administration"

      responses:
        200:
          description: "Ok. Show Administration Panel UI06"

  /admin/team:
    get:
      operationId: "R202"
      summary: "R202: View Administrators"
      description: "View all system administrators. Access: ADM"
      tags:
        - "M02 - System Administration"

      responses:
        200:
          description: "Ok. Show Administrators Listing UI"

  /api/admin/team/{username}:
    put:
      operationId: "R203"
      summary: "R203: Add Administrator API Route"
      description: "Add user to the team of system administrators. Access: ADM"
      tags:
        - "M02 - System Administration"

      parameters:
        - in: path
          name: username
          description: "The username of the user to add to the team of system administrators."
          required: true
          schema:
            type: string

      responses:
        200:
          description: "Ok. Successfuly added member to the administration team."

        422:
          description: "Validation error. The member was not added to the administration team."
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    enum:
                      - user:not-found

    delete:
      operationId: "R204"
      summary: "R204: Remove Administrator API Route"
      description: "Remove user from the team of system administrators. Access: ADM"
      tags:
        - "M02 - System Administration"

      parameters:
        - in: path
          name: username
          description: "The username of the user to remove from the team of system administrators."
          required: true
          schema:
            type: string

      responses:
        200:
          description: "Ok. Successfuly removed the member from the administration team."

        422:
          description: "Validation error. The member was not removed from the administration team."
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    enum:
                      - user:not-found