openapi: 3.0.0

info:
  version: "1.0.0"
  title: "Wrottit API"
  description: "Web Resources Specification (A7) for Wrottit"

servers:
  - url: http://lbaw2264.lbaw.fe.up.pt
    description: Production server

externalDocs:
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2264/-/wikis
  description: Wrottit documentation

tags:
  - name: "M01: Authentication and User Profile"
  - name: "M02: System Administration"
  - name: "M03: Forums, Posts and Comments"

paths:
  # M01 - Authentication and User Profile
  /login:
    get:
      operationId: "R101"
      summary: "R101: Login Form"
      description: "Provide a form for authentication. Acess: PUB"
      tags:
        - "M01: Authentication and User Profile" 
      
      responses:  
        "200": 
          description: "Ok. Show Administrators Listing UI02" 
      
    post:
      operationId: "R102"
      summary: "R102: Login Action"
      description: "Login form submission action. Acess: PUB"
      tags:
        - "M01: Authentication and User Profile"
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required:
                - email
                - password
    
      responses:
        "302":
          description: "Redirect after processing the login credentials."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful login. Redirect to homepage."
                  value: "/"
                302Failure:
                  description: "Failed login. Redirect to login form."
                  value: "/login"            
  
  /logout:
    get:
      operationId: R103
      summary: "R103: Logout Action"
      description: "Logout the current authenticated user. Access: USR"
      tags:
        - "M01: Authentication and User Profile"

      responses:
        "302":
          description: "Redirect after processing logout."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful logout. Redirect to homepage."
                  value: "/"

  /register:
    get:
      operationId: R104
      summary: "R104: Register Form"
      description: "Provide form for new users. Access: PUB"
      tags:
        - "M01: Authentication and User Profile"

      responses:
        "200":
          description: "Ok. Show register form"

    post:
      operationId: R105
      summary: "R105: Register action"
      description: "Processes the new user register form submission. Access: PUB"
      tags:
        - "M01: Authentication and User Profile"

      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                firstName:  
                  type: string
                lastName: 
                  type: string
                bannerPicture:
                  type: string
                  format: binary
                profilePicture:
                  type: string
                  format: binary 
                bio:
                  type: string               
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                  format: password
              required:
                - username
                - email
                - password
      
      responses:
        "302":
          description: "Redirect after processing the new user sign-up form."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful registration. Redirect to user profile."
                  value: "/users/{id}"
                302Failure:
                  description: "Failed registration. Redirect to sign-up form."
                  value: "/signup"

  /users/{id}:
    get:
      operationId: R106
      summary: "R106: View user profile"
      description: "Show the individual user profile. Access: PUB"
      tags:
        - "M01: Authentication and User Profile"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show user profile (UI07)"
        "404":
          description: "User does not exist"

  /users/{id}/edit:
    get:
      operationId: R107
      summary: "R107: User profile edition form"
      description: "Provide form for user profile edition. Access: OWN"
      tags:
        - "M01: Authentication and User Profile"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "200":
          description: "Ok. Show user profile edition form (UI07)"
        "401":
          description: "Unauthorized. User must be authenticated"
        "403":
          description: "Forbidden. User must be owner of the profile"
        "404":
          description: "User not found"

    put:
      operationId: R108
      summary: "R108: Edit user profile action"
      description: "Processes the user edit profile submission. Access: OWN"
      tags:
        - "M01: Authentication and User Profile"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                bannerPicture:
                  type: string
                  format: binary
                profilePicture:
                  type: string
                  format: binary 
                bio:
                  type: string               
                username:
                  type: string
                email:
                  type: string
                password:
                  type: string
                  format: password  

      responses:
        "302":
          description: "Redirect after processing the user updated information."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful profile edition. Redirect to user profile."
                  value: "/users/{id}"
                302Failure:
                  description: "Failed profile edition. Redirect to edit profile form."
                  value: "/users/{id}/edit"           

  # M02 - System Administration
  /admin/users:
    get:
      operationId: "R201"
      summary: "R201: View Administration Panel"
      description: "View administration panel. Access: ADM"
      tags:
        - "M02 - System Administration"

      responses:
        "200":
          description: "Ok. Show Administration Panel UI06"

  /admin/team:
    get:
      operationId: "R202"
      summary: "R202: Show Administration Team"
      description: "View all system administrators. Access: ADM"
      tags:
        - "M02 - System Administration"

      responses:
        "200":
          description: "Ok. Show Administrators Listing UI"
    post:
      operationId: "R203"
      summary: "R203: Promote User to Admin"
      description: "Promote Regular User to Admin Action. Access: ADM"
      tags:
        - "M02 - System Administration"

      responses:
        "200":
          description: "Ok. Show Administrators Listing UI"
        "422":
          description: "Validation error. The member was not added to the administration team."
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    enum:
                      - user:not-found

  /admin/team/{username}:
    delete:
      operationId: "R204"
      summary: "R204: Remove Administrator API Route"
      description: "Remove user from the team of system administrators. Access: ADM"
      tags:
        - "M02 - System Administration"

      parameters:
        - in: path
          name: username
          description: "The username of the user to remove from the team of system administrators."
          required: true
          schema:
            type: string

      responses:
        "200":
          description: "Ok. Successfuly removed the member from the administration team."

        "422":
          description: "Validation error. The member was not removed from the administration team."
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    enum:
                      - user:not-found

  #M03 : Forums, Posts and Comments
  /:
    get:
      operationId: "301"
      summary: "R301: View Homepage"
      description: "View feed of most popular or recent posts. Access: PUB"
      tags:
        - "M03: Forums, Posts and Comments"
      
      parameters:
        - in: query
          name: sort
          description: "Posts ordering"
          schema:
            enum:
              - popular
              - recent

      responses:
        200:
          description: "Ok. Show Homepage UI01"

  /posts:
    post:
      operationId: R302
      summary: "R302 : Create post action"
      description: "Processes the new post creation form. Access: USR"
      tags:
        - "M03: Forums, Posts and Comments"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string
                rating:
                  type: integer
                tag_ids:
                  type: array
                  minLength: 1
                  maxLength: 3
              required:
                - title
                - body
                - rating
                - tag_ids

      responses:
        302:
          description: "Redirect after processing the create post form."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful post creation. Redirect to Post Page."
                  value: "/post/{id}"
                302Failure:
                  description: "Failed post creation. Redirect to Create Post form."
                  value: "/post"

  /posts/new:
    get:
      operationId: R303
      summary: "R303 : Create post form"
      description: "Provide new post creation form. Access: USR"
      tags:
        - "M03: Forums, Posts and Comments"

      responses:
        200:
          description: 'Ok. Show Create Post Form'
        302:
          description: 'Redirect after trying to get Create Post Form'
          headers:
            Location:
              schema:
                type: string  
              examples:
                302Failure:
                  description: 'You are not logged in. Failed post creation. Redirect to login Page.'
                  value: '/login' 

  /post/{id}:
    get:
      operationId: R304
      summary: "R304 : View Post Page"
      description: "View a Post Page. Access: PUB"
      tags:
        - "M03: Forums, Posts and Comments"

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        200:
          description: "OK. Show Post Page"
        404:
          description: "Post not found"

    delete:
      operationId: R305
      summary: "R305 : Delete post action"
      description: "Processes a request to delete a post. Access: OWN, ADM"
      tags:
        - "M03: Forums, Posts and Comments"

      parameters:
        - in: path
          name: id
          schema:
            type: integer
          required: true

      responses:
        "302":
          description: "Redirect after deleting post."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful post deletion. Redirect to homepage."
                  value: "/"
                302Failure:
                  description: "Failed to delete post. Redirect to post page"
                  value: "/post/{id}"
    put:
      operationId: R306
      summary: "R306 : Edit post action"
      description: "Processes the user edit profile form submission. Access: OWN"
      tags:
        - "M03: Forums, Posts and Comments"

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                title:
                  type: string
                body:
                  type: string

      responses:
        302:
          description: "Redirect after processing the post updated information"
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful post edition. Redirect to the post page."
                  value: "/post/{id}"
                302Failure:
                  description: "Failed post edition. Redirect to the edit post page."
                  value: "/post/{id}/edit"

  /posts/{id}/edit:
    get:
      operationId: R307
      summary: "R307 : Show post edition form"
      description: "Provide a form for post edition. Access: OWN"
      tags:
        - "M03: Forums, Posts and Comments"

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        200:
          description: "OK. Show post edition form"
        401:
          description: "Unauthorized. Must be authenticated."
        403:
          description: "Unauthorized. Must be the owner of the post"
        404:
          description: "Post not found"

  /posts/{id}/images:
    post:
      operationId: R308
      summary: "R308 : Add Post Image Action"
      description: "Processes a request to add a image to the post. Access: OWN"
      tags:
        - "M03: Forums, Posts and Comments"
      parameters:
        - in: path
          name: id
          description: "Post Id"
          required: true
          schema:
            type: integer

      responses:
        200:
          description: "OK. Successfully added an image to the post"
        401:
          description: "Unauthorized. Must be authenticated."
        403:
          description: "Unauthorized. Must be the owner of the post"
        404:
          description: "Post not found"

  /posts/{post_id}/{image_id}:
    delete:
      operationId: R309
      summary: "R309 : Remove Post Image Action"
      description: "Remove Post Image Action. Access: OWN"
      tags:
        - "M03: Forums, Posts and Comments"
      parameters:
        - in: path
          name: post_id
          description: "Post Id"
          required: true
          schema:
            type: integer
        - in: path
          name: image_id
          description: "Image Id"
          required: true
          schema:
            type: integer

      responses:
        200:
          description: "OK. Successfully removed the image from the post"
        401:
          description: "Unauthorized. Must be authenticated."
        403:
          description: "Unauthorized. Must be the owner of the post"
        404:
          description: "Post or Image not found"

  /api/posts/{id}/rating:
    get:
      operationId: R310
      summary: "R310 : Show Post Rating"
      description: "Provide the rating from the post. Access: OWN"
      tags:
        - "M03: Forums, Posts and Comments"

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        200:
          description: "OK. Show post rating"
        404:
          description: "Post not found"
    post:
      operationId: R311
      summary: "R311 : Save Post Rating Action"
      description: "Save Post Rating Action. Access: USR"
      tags:
        - "M03: Forums, Posts and Comments"

      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer

      responses:
        200:
          description: "OK. Post rating saved"
        404:
          description: "Post not found"
    
    delete:
      operationId: R312
      summary: "R312 : Remove Post Rating Action"
      description: "Remove Post Rating Action. Access: USR"
      tags:
        - "M03: Forums, Posts and Comments"
      parameters:
        - in: path
          name: id
          description: "Post Id"
          required: true
          schema:
            type: integer
      responses:
        200:
          description: "OK. Successfully removed the post rating"
        404:
          description: "Post or Image not found"