openapi: 3.0.0

info:
  version: 1.0.0
  title: Wrottit API
  description: Web Resources Specification (A7) for Wrottit

servers:
  - url: http://lbaw2264.lbaw.fe.up.pt
    description: Production server

externalDocs:
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2264/-/wikis
  description: Wrottit documentation

tags:
  - name: "M02: System Administration"

paths:
  /:
    get:
      summary: "R101: View Homepage"
      description: "View feed of most popular or recent posts. Access: PUB"
      tags:
        - "" # FIXME content module
      
      parameters:
        - in: query
          name: sort
          description: "Posts ordering"
          schema:
            enum:
              - popular
              - recent

      responses:
        "200":
          description: "Ok. Show Homepage UI01"

  /admin/team:
    get:
      summary: "R201: View Administrators"
      description: "View all system administrators. Access: ADM"
      responses:
        "200":
          description: "Ok. Show Administrators Listing UI"

    post:
      summary: "R202: Add Administrator Action"
      description: "Add a user to the team of system administrators. Access: ADM"

      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                redirect: 
                  type: string
                  default: "/admin/team"
                  
                username:
                  type: string

              required:
                - username

      responses:
        302:
          description: "Redirect after adding the member to the administration team."
          headers:
            Location:
              schema:
                type: string
              examples:
                302Success:
                  description: "Successful addition of member to the administration team"
                  externalValue: redirect form field
        # FIXME falta error
      

