openapi: 3.0.0

info:
  version: 1.0.0
  title: Wrottit API
  description: Web Resources Specification (A7) for Wrottit

servers:
  - url: http://lbaw2264.lbaw.fe.up.pt
    description: Production server

externalDocs:
  url: https://git.fe.up.pt/lbaw/lbaw2223/lbaw2264/-/wikis
  description: Wrottit documentation

tags:
  - name: "M02: System Administration"

paths:
  /:
    get:
      summary: "R101: View Homepage"
      description: "View feed of most popular or recent posts. Access: PUB"
      tags:
        - "" # FIXME content module
      
      parameters:
        - in: query
          name: sort
          description: "Posts ordering"
          schema:
            enum:
              - popular
              - recent

      responses:
        200:
          description: "Ok. Show Homepage UI01"

  /admin/team:
    get:
      summary: "R201: View Administrators"
      description: "View all system administrators. Access: ADM"
      responses:
        200:
          description: "Ok. Show Administrators Listing UI"

  /api/admin/team:
    post:
      summary: "R202: Add Administrator API Route"
      description: "Add a user to the team of system administrators. Access: ADM"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string

              required:
                - username

      responses:
        200:
          description: "Ok. Successfuly added the member to the administration team."

        422:
          description: "Validation error. The member was not added to the administration team."
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    enum:
                      - user:admin
                      - user:blocked
              examples:
                AddAdmin:
                  description: "The requested user is already an admin"
                  value: { "reason": "user:admin" }

                AddBlocked:
                  description: "The requested user is blocked"
                  value: { "reason": "user:blocked" }

        # FIXME falta error
      

