// @use 'header.scss';
// @use 'post.scss';
@import "lib/variables";
@import "lib/bootswatch";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// body {
    // font-family: 'Roboto', sans-serif;
    // background-color: rgb(231, 231, 231);
// }

.wt-hoverable:hover {
    text-decoration: underline !important;
}

.wt-like-click {
    .like_filled {
        display: none;
    }

    .dislike_filled {
        display: none;
    }
}

.wt-like-click:hover {
    .unfilled {
        display: none;
    }

    .like_filled {
        display: inline-block;
        color: rgb(133, 62, 199);
    }

    .dislike_filled {
        display: inline-block;
        color: rgb(212, 45, 68);
    }
}
